:root {
        --ic-brand-primary-darkened-5: #043726;
--ic-brand-primary-darkened-10: #043424;
--ic-brand-primary-darkened-15: #043122;
--ic-brand-primary-lightened-5: #104231;
--ic-brand-primary-lightened-10: #1D4C3C;
--ic-brand-primary-lightened-15: #295647;
--ic-brand-button--primary-bgd-darkened-5: #043726;
--ic-brand-button--primary-bgd-darkened-15: #043122;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0074AD;
--ic-link-color-lightened-10: #198CC6;
--ic-brand-primary: #043927;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0080c0;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #262626;
--ic-brand-global-nav-ic-icon-svg-fill: #c4b581;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #c4b581;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #c4b581;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_112990000000000001/attachments/7/primary_vertical_3_color_wht_hnd_hires.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_112990000000000001/attachments/2/Sacramento_State_Logo.svg.png');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #c4b581;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_112990000000000001/attachments/6/CSUS_login.jpg');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: #00573d;
--ic-brand-Login-Content-border-color: #00573d;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #dddddd;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #cccccc;
      }